* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: white;
  color: rgb(0, 0, 0, 1);
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
[class^="col"] {
  padding: 0 10px;
}
.col-4 {
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-3 {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 0;
}
.col-2 {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-12 {
  flex: 100% 1 1;
}
.col-1 {
  flex: 8.3% 1 1;
}
.col-2 {
  flex: 16.6% 1 1;
}
.col-5 {
  flex: 41.6% 1 1;
}
.col-6 {
  flex: 50% 1 1;
}
.col-7 {
  flex: 58.3% 1 1;
}
.col-8 {
  flex: 66.6% 1 1;
}
.col-9 {
  flex: 75% 1 1;
}
.col-10 {
  flex: 83% 1 1;
}
.col-11 {
  flex: 91.6% 1 1;
}
.card {
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 0 0 10px 5px rgba(16, 15, 15, 0.47);
  margin-bottom: 20px;
}
.card .card-image {
  width: 80%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizontal {
  display: flex;
}
.card.card-horizontal .card-image {
  width: 30%;
}
.topbar {
  background-color: white;
}
nav {
  display: flex;
}
.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.nav .nav-link {
  color: rgb(6, 6, 6);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 10px;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav img {
  margin-top: 10px;
  margin-right: auto;
  margin-left: 20px;
  width: 4vw;
  height: 3vh;
}
.nav-button {
  margin-left: auto;
  background-color: rgba(111, 44, 255, 1);
  border-radius: 25px;
  border: none;
  padding: 10px 40px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: white;
}
.nav-linking {
  text-decoration: none;
  margin-right: 50px;
  margin-top: 20px;
  color: black;
  font-size: 15px;
}
header {
  background-image: url(./images/bg1.jpg);
  background-size: cover;
}
.head {
  margin-top: 2h;
  padding-top: 20vh;
  padding-bottom: 35vh;
}
.head span {
  font-size: 14px;
  font-weight: 400;
}
.head h1 {
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
  font-size: 54px;
}
.head #h1 {
  margin: 0;
  color: rgba(111, 44, 255, 1);
}
.head p {
  font-size: 16px;
  font-weight: 400;
}
.head-button {
  padding: 10px 10px;
}
#head-button-left {
  margin: 0;
  padding: 10px 15px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.27);
}
#head-button-right {
  margin: 0;
  padding: 10px 25px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border: none;
  margin-left: -5px;
  background-color: rgba(111, 44, 255, 1);
  color: white;
}
.section-class-brands {
  margin-top: 2%;
}
.section-class-brands .section-class-brands-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.section-class-brands h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 700px;
  line-height: 30px;
}
.section-class-brands p {
  display: inline-block;
  margin-left: 44vw;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.section-grow-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10%;
}
.row {
  flex-direction: column;
  border-left: 1px solid rgba(0, 0, 0, 0.31);
  padding-right: 3vw;
}
.section-grow-content-left-side {
  width: 50%;
  padding-top: 25vh;
  margin-left: 10%;
}
.section-grow-content-right-side-two {
  margin-left: 10%;
}
.section-grow-content-left-side h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}
.section-grow-content-left-side #inside-left-side {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 56px;
  margin-top: 50px;
}
.section-grow p {
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
}
.section-grow-content-left-side #p {
  display: inline;
  border-bottom: 1px solid rgb(18, 18, 18);
}
#inside-left-side button {
  padding: 10px 40px;
  margin-right: 40px;
  background-color: rgba(111, 44, 255, 1);
  color: white;
  border-radius: 30px;
  border: none;
}
#inside-left-side p {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 3px solid rgba(111, 44, 255, 1);
}
.col-4 h1 {
  font-size: 40px;
  font-weight: 700;
}
.section-commercle {
  margin-top: 10%;
}
.section-commercle-content {
  margin: 0 auto;
  max-width: 1200px;
}
.section-commercle .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: none;
}
.section-commercle .commercle-content {
  text-align: center;
  max-width: 350px;
  margin-left: 5vw;
}
.section-commercle .section-commercle-content h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section-commercle-content p {
  text-align: center;
}
.section-easy {
  background-color: rgba(245, 245, 245, 1);
}
.section-easy h1 {
  margin-top: 10vh;
  padding-top: 10vh;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.section-easy p {
  text-align: center;
  font-size: 15px;
}